@model cinema_web.Models.Screening

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Chi tiết</h1>

<div>
    <h4>Suất chiếu @Html.DisplayFor(model => model.ScreeningId)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScreeningId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScreeningId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSeats)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-purple" asp-action="Edit" asp-route-id="@Model.ScreeningId">Chỉnh sửa</a> |
    <a asp-action="Index">
        <svg class="back-icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"></path>
        </svg>Trở về
    </a>
</div>
