@model cinema_web.Models.Ticket

@{
    ViewData["Title"] = "Details";
    var currAcc = ViewData["CurrentAccount"] as Account;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Chi tiết vé</h1>

<h4>Vé @Html.DisplayFor(model => model.TicketId)</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScreeningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScreeningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Screening.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Screening.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FilmName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FilmName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FilmId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FilmId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
    </dl>
</div>
<div>
    @if (currAcc.RoleId == 1)
    {
        
        <a class="btn btn-outline-purple" asp-action="Edit" asp-route-id="@Model.TicketId">Chỉnh sửa</a>
    }
    <a asp-action="Index">
        <svg class="back-icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"></path>
        </svg>Trở về
    </a>
</div>
